<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
  <title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/calc.css" />

<body>
  <!-- bootstrap requires a 'container' div around content -->
  <div class="container">

    <h1>ACP Brevet Times<img id="biker-img" src="/static/assets/biker.png" href="background image of a biker" /></h1>
    <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

    <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- Design on bootstrap grid -->
    <form role="form">
      <div class="row">
        <div class="col-md-4">
          <label>Distance</label>
          <select name="distance" id="brevet_dist_km">
            <option value="200">200km</option>
            <option value="300">300km</option>
            <option value="400">400km</option>
            <option value="600">600km</option>
            <option value="1000">1000km</option>
          </select>
        </div> <!-- columns 1--4  -->
        <div class="col-md-6">
          <label>Begins at</label>
          <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
          <input type=time name="begin_time" id="begin_time" value="00:00" />
        </div> <!-- columns 5-10 -->
      </div> <!-- row -->

      <br /> <!-- Cosmetic -- a little vertical space -->
      <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
      <div class="row table-bubble">
        <div class="col-md-12">
          <table class="control_time_table">
            <tr>
              <th> Miles </th>
              <th> Km </th>
              <th>Location</th>
              <th>Open</th>
              <th>Close</th>
              <th>Notes</th>
            </tr>
            {% for row in range(20) %}
            <tr class="control">
              <!-- Dist (mi) -->
              <td><input name="miles" type="number" min="0" max="900" size="5" /></td>
              <!-- Dist (km) -->
              <td><input name="km" type="text" min="0" max="1100" size="5" /> </td>
              <!-- Location (optional) -->
              <td><input name="location" type="text" placeholder="Optional location name" size="20" /> </td>
              <!-- Open time (read only, set by JavaScript function -->
              <td><input name="open" type="datetime" value="" readonly /></td>
              <!-- Close time (read only, set by JavaScript function -->
              <td><input name="close" type="datetime" value="" readonly /></td>
              <!-- Notes (error messages for this row) -->
              <td class="notes"> &nbsp; </td>
            </tr>
            {% endfor %}
          </table>
        </div> <!-- col -->
      </div> <!-- row -->
    </form>
    <button id="submit-db">Submit</button><button id="view-db">Display</button><button id="api-button">API
      Consumer</button>
    <br />
    <div id="db-results" style="display: none;"></div>
    <div style="border-top: 1px solid grey">
      <h2>Usage</h2>
      <p>The output of this calculator is the same as the one at: https://rusa.org/octime_acp.html<br />
        However, there are some important differences:</p>
      <ul>
        <li>Brevets are generated automatically after filling in a mile/kilometer entry</li>
        <li>Adjusting the brevet distance, start date, or time WILL CLEAR any previously set controls</li>
        <li>This calculator will notify you if your input is invalid (not a number)</li>
        <li>Any input greater than 20% of the brevet distance will be cleared (you will be notified when this happens)
        </li>
        <li>There are no limitations on placing controls in ascending order (like the original calculator), but it is
          recommended</li>
      </ul>
    </div>
    {% for item in items %}
    <p> {{ item.open }} </h1>
    <p> {{ item.close }}
    <p>
      {% endfor %}

      <script type="text/javascript">

        var SCRIPT_ROOT = {{ request.script_root| tojson | safe }};
        var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
        var MONGO_INSERT_URL = SCRIPT_ROOT + "/_insert_times"
        var MONGO_TIMES_URL = SCRIPT_ROOT + "/_show_times"

        // Pass calctimes a <td> element containing the data for a control.
        // It extracts the distance and calls the server to get times to
        // fill in open and close times in a human-readable format.
        // (If we want to also keep the ISO-formatted times, we'll need to
        // stash them in hidden fields.) 
        function calc_times(control) {
          var km = control.find("input[name='km']").val();
          var open_time_field = control.find("input[name='open']");
          var close_time_field = control.find("input[name='close']");
          var distance = $("#brevet_dist_km").val();
          var begin_date = $("#begin_date").val();
          var begin_time = $("#begin_time").val();
          console.log(begin_date, begin_time)

          $.getJSON(TIME_CALC_URL, { km: km, distance: distance, begin_date: begin_date, begin_time: begin_time },
            // response handler
            function (data) {
              var times = data.result;
              if (times.open === -1 || times.close === -1) {
                open_time_field.val('');
                close_time_field.val('');
                alert("Invalid input control distance.\
          \nEnter a kilometer distance between 0 and 1100 or\
          \na mile distance between 0 and 900.\
          \nThis distance must be within 20% of the brevet distance.")
                return
              }
              //console.log("start:" + moment(times.start).format("ddd M/D H:mm"));
              console.log("Got a response: " + times);
              console.log("Response.open = " + times.open);
              open_time_field.val(moment(times.open).utcOffset(0).format("ddd M/D H:mm"));
              close_time_field.val(moment(times.close).utcOffset(0).format("ddd M/D H:mm"));
            } // end of handler function
          );// End of getJSON
        }

        $(document).ready(function () {

          //Submission to MongoDB and View MongoDB entries
          $('#submit-db').click(function () {
            var open = ""
            var close = ""
            $('.control_time_table').find("input[name='open']").each(function (index, val) {
              if (val.value !== "") {
                open = open.concat(',', val.value)
                //open.push(val.value)
              }
            })
            $('.control_time_table').find("input[name='close']").each(function (index, val) {
              if (val.value !== "") {
                close = close.concat(',', val.value)
                //close.push(val.value)
              }
            })
            console.log("OPEN:", open)
            console.log("CLOSE:", close)
            if (open.length === 0 || close.length === 0) {
              alert("Error: Please enter valid control distances.")
            }
            else {
              $.ajax({
                type: "POST",
                url: MONGO_INSERT_URL,
                data: { 'open': open, 'close': close },
                success: console.log("Sent POST request to insert into Mongo"),
              });
            }
          })

          $('#view-db').click(function () {
            $.getJSON(MONGO_TIMES_URL,
              // response handler
              function (data) {
                $("#db-results").empty()
                console.log("data:", data)
                data.dates.forEach(function (date, index) {
                  console.log(date)
                  $("#db-results").append("<div class='db-time-div'><div class='db-bubble'>" + index + "</div><p style='font-weight: bold;margin-left:55px;'>Open: </p><p>" + date.open + "</p><p style='font-weight: bold;margin-left:55px;'>Close: </p><p>" + date.close + "</p></div><br/>")
                });
                $("#db-results").show('slow')

              }
            );
          })

          $("#api-button").click(function () {
            console.log("Redirecting to api consumer")
            alert("Please visit localhost:5000")
          });

          // Do the following when the page is finished loading
          $('input[name="miles"]').change(
            function () {
              var miles = parseFloat($(this).val());
              var km = (1.609344 * miles).toFixed(1);
              console.log("Converted " + miles + " miles to " + km + " kilometers");
              var control_entry = $(this).parents(".control")
              var target = control_entry.find("input[name='km']");
              target.val(km);
              if (!filter(km)) {
                $(this).val('')
                control_entry.find("input[name='open']").val('')
                control_entry.find("input[name='close']").val('')
                target.val('')
                return
              }
              // Then calculate times for this entry
              calc_times(control_entry);
            });

          $('input[name="km"]').change(
            function () {
              var km = parseFloat($(this).val());
              var control_entry = $(this).parents(".control")
              var miles = (0.621371 * km).toFixed(1);
              console.log("Converted " + km + " km to " + miles + " miles");
              var target = control_entry.find("input[name='miles']");
              target.val(miles);
              if (!filter(km)) {
                $(this).val('')
                control_entry.find("input[name='open']").val('')
                control_entry.find("input[name='close']").val('')
                target.val('')
                return
              }
              // Then calculate times for this entry
              calc_times(control_entry);
            });

          $("#brevet_dist_km").on('input', function () { reset() });
          $("#begin_date").on('input', function () { reset() });
          $("#begin_time").on('input', function () { reset() });
        });
        // end of what we do on document ready

        //filters incorrect output and sends error message before reaching backend
        function filter(km) {
          var distance = parseInt($("#brevet_dist_km").val());
          //Invalid input (parseInt returns NaN)
          if (isNaN(km)) {
            alert("Invalid input. Please enter a number.")
            return 0
          }
          //
          if ((distance * 1.2) < km) {
            alert("Control point cannot be any more than 20% longer than the selected distance.")
            return 0
          }
          return 1
        }

        function reset() {
          console.log("reset")
          $('input[name="km"]').val('');
          $('input[name="miles"]').val('');
          $("input[name='open']").val('');
          $("input[name='close']").val('');
        }

      </script>

  </div>
</body>

</html>