html {
    font-family: sans-serif;
}

body {
    margin: 0;
}


h1 {
    text-align: center;
    background: #8383dd;
    color: white;
    margin: 0;
    padding: 20px;
}

h3 {
    color: #626262;
    font-size: 16px;
}

li {
    font-size: 24px;
    padding: 10px;
    border: 1px solid #b8b8b8;
    list-style-type: none;
    background: #f3f3f3;
}

ul {
    padding-right: 40px;
}

/* 2 col layout */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col1 {
    height: 100vh;
    background: #f6f6f6;
    padding: 20px;
    box-shadow: 2px 4px 8px #51515124;
}

.col2 {
    height: 100vh;
}

/* Buttons and formatting */

.endpoint-btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.end-btn {
    font-size: 14px;
    height: 130px;
    width: 100%;
    background: #e3e3e3;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px #00000045;
    border-radius: 2px;
}

.end-btn:hover {
    background: #d3d3d3;
}

.endpoint-top-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    
}

.top-btn {
    width: 76%;
    height: 50px;
    background: #e3e3e3;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px #00000045;
    border-radius: 2px;
}

.top-btn:hover {
    background: #d3d3d3;
}

.top-field {
    width: 20%;
    height: 50px;
}
