/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */

h1, h2 {
    color: #839CB2;
}

#db-results {
    margin-top: 20px;
}

.db-time-div p {
    display: inline-block;
    font-size: 20px;
}

#biker-img {
    height: 50px;
    margin-left: 20px;
    opacity: 1;
    border-bottom: 1px solid #839CB2;
}

.table-bubble {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

#submit-db {
    background: #6A9D6C;
    border: 1px solid #246F26;
    padding: 4px 30px;
    border-radius: 4px;
    color: white;
    margin-bottom: 14px;
}

#view-db {
    background: rgb(216, 217, 164);
    border: 1px solid rgb(188, 181, 148);
    border-radius: 4px;
    margin-left: 10px;
    padding: 4px 30px;
}

#api-button {
    background: rgb(217, 164, 165);
    border: 1px solid rgb(188, 148, 184);
    border-radius: 4px;
    margin-left: 10px;
    padding: 4px 30px;
}

.db-bubble {
    border-radius: 5px;
    height: 35px;
    background: #ebebeb;
    font-size: 24px;
    display: inline-block;
    width: 35px;
    text-align: center;
    border: 1px solid;
}
